/* src/components/SocialMediaIcons.css*/
/*     .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    color: #333;
    font-size: 2rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #FF6600;

} */